<!DOCTYPE html>
<html>

<head>
    <title>Bienvenidos a Discal</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="css/discal.min.css" rel="stylesheet" />
    <link href="css/jquery.mobile.icons.min.css" rel="stylesheet" />
    <link href="css/jquery.mobile.structure-1.4.5.min.css" rel="stylesheet" />
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>
    <div data-role="navbar">
        <ul>
            <li>
                <a data-icon="home" href="#index"></a>
            </li>
            <li>
                <a data-icon="grid" href="#lista_productos"></a>
            </li>
            <li>
                <a data-icon="tag" href="#lista_pedidos"></a>
            </li>
            <li>
                <a data-icon="plus" href="#nuevo_pedido"></a>
            </li>
        </ul>
    </div>
</head>

</html>